@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Thermite';
  font-display: swap;
  src: url('/fonts/Thermite.ttf') format('ttf'),
    /* opentype file seems to gives errors */
    url('/fonts/Thermite.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brixton';
  font-display: swap;
  src: url('/fonts/Brixton-Bold.ttf') format('ttf'), 
    url('/fonts/Brixton-Book.ttf') format('ttf'), 
    url('/fonts/Brixton-Light.ttf') format('ttf'),
    url('/fonts/Brixton-Medium.ttf') format('ttf'),
    url('/fonts/Brixton-Bold.woff') format('woff'), 
    url('/fonts/Brixton-Book.woff') format('woff'), 
    url('/fonts/Brixton-Light.woff') format('woff'),
    url('/fonts/Brixton-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply font-brixton
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-thermite uppercase
  }

  h1, h2, h3, h4, h5, h6 {
    > * {
      @apply font-thermite uppercase
    }
  }
}

@layer components {
  .logo {    
    path {
      @apply fill-gray-900  dark:fill-gray-100;
    }
  }

  .shapedivider {
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -1px;
      right: -1px;
      top: -1px;
      z-index: 3;
      pointer-events: none;
      background-repeat: no-repeat;
      background-size: 100% 30px;

      @media (min-width: 768px) {
        background-size: 100% 50px;
      }

      @media (min-width: 1024px) {
        background-size: 100% 70px;
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
      }

      @media (min-width: 2100px) {
        background-size: 100% calc(2vw + 70px);
      }
    }

    &--top::before {
      background-position: 50% 0%;
      background-image: url('/patterns/shape-divider-top-light.svg');
      @apply dark:bg-[url('/patterns/shape-divider-top-dark.svg')];
    }

    &--bottom::before {
      background-position: 50% 100%;
      background-image: url('/patterns/shape-divider-bottom-light.svg');
      @apply dark:bg-[url('/patterns/shape-divider-bottom-dark.svg')];
    }

    &--left::before {
      background-position: 0% 0%;
      background-image: url('/patterns/shape-divider-left-light.svg');
      @apply dark:bg-[url('/patterns/shape-divider-left-dark.svg')];
    }

    &--right::before {
      background-position: 100% 0%;
      background-image: url('/patterns/shape-divider-right-light.svg');
      @apply dark:bg-[url('/patterns/shape-divider-right-dark.svg')];
    }

    &--right::before, &--left::before {
      background-size: 30px 100%;

      @media (min-width: 768px) {
        background-size: 50px 100%;
      }

      @media (min-width: 1024px) {
        background-size: 70px 100%;
      }

      @media (min-width: 2100px) {
        background-size: calc(2vw + 70px) 100%;
      }
    }

    &--bottom-blue::before {
      background-image: url('/patterns/shape-divider-bottom-light-blue.svg');
      @apply dark:bg-[url('/patterns/shape-divider-bottom-dark-blue.svg')];
    }
    
    &--top-blue::before {
      background-image: url('/patterns/shape-divider-top-light-blue.svg');
      @apply dark:bg-[url('/patterns/shape-divider-top-dark-blue.svg')];
    }
  }
}