@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Thermite';
  font-display: swap;
  src: url('/fonts/Thermite.ttf') format('ttf'),
    /* opentype file seems to gives errors */
    url('/fonts/Thermite.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brixton';
  font-display: swap;
  src: url('/fonts/Brixton-Bold.ttf') format('ttf'), 
    url('/fonts/Brixton-Book.ttf') format('ttf'), 
    url('/fonts/Brixton-Light.ttf') format('ttf'),
    url('/fonts/Brixton-Medium.ttf') format('ttf'),
    url('/fonts/Brixton-Bold.woff') format('woff'), 
    url('/fonts/Brixton-Book.woff') format('woff'), 
    url('/fonts/Brixton-Light.woff') format('woff'),
    url('/fonts/Brixton-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply font-brixton
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-thermite uppercase
  }

  h1, h2, h3, h4, h5, h6 {
    > * {
      @apply font-thermite uppercase
    }
  }
}

@layer components {
  .logo {    
    path {
      @apply fill-shark-950  dark:fill-shark-50;
    }
  }
}